﻿<style>
table.fa-factors
{
	border-collapse:collapse;
	margin: 5px;
}
table.fa-factors td
{
	border:0;
}
table.fa-factors tr.a td
,table.fa-factors td.rn
{
	padding-left:3px;
	padding-right:3px;
}
table.fa-factors tr.markers td
,table.fa-factors tr td.row-marker
{
	background-color: yellow;
	font-size:9px;
}
 table.fa-factors tr.a td
,table.fa-factors tr.row td
{
	font-size:9px;
	line-height:98%;
}
table.fa-factors tr.a td.t
{
	font-size:14px;
}
table.fa-factors td.g
,table.fa-factors td.r
{
	width: 15px;
	text-align:right;
}
table.fa-factors tr.row td.r
,table.fa-factors tr.row td.g
,table.fa-factors tr.row td.a
,table.fa-factors tr.row td.f
,table.fa-factors tr.row td.kn
{
	border-left: 1px dotted silver;
}
 table.fa-factors tr.a td.r
,table.fa-factors tr.a td.g
{
	border-right: 1px dotted silver;
}
table.fa-factors tr.row td.rn
,table.fa-factors tr.row td.kn
{
	border-left: 1px solid black;
}
table.fa-factors tr.a td
,table.fa-factors tr.n td.t
{
	border-bottom: 1px solid black;
}
table.fa-factors td.s
{
	padding-bottom:3px;
	font-size:3mm;
}
table.fa-factors tr.n td.s2
,table.fa-factors tr.n td.s1
,table.fa-factors tr.a td.k
,table.fa-factors td.fn
,table.fa-factors tr.a td.rn
,table.fa-factors td.an
,table.fa-factors td.a1
{
	border-left: 1px solid black !important;
}
table.fa-factors td.k
{
	text-align:right
}
table.fa-factors tr.r4 td
,table.fa-factors tr.r1 td.r
,table.fa-factors td.rn
,table.fa-factors tr.r1 td.t 
,table.fa-factors tr.r3 td.a 
{
	border-bottom: 1px dotted silver;
}
table.fa-factors tr td.r9
,table.fa-factors tr td.s2
,table.fa-factors tr td.a9
{
	border-right: 1px solid black !important;
}
table.fa-factors tr.f td
{
	border-top:1px solid black;
}
table.fa-factors tr.row td.r5
,table.fa-factors tr.a td.r5
,table.fa-factors tr.a td.g7
,table.fa-factors tr.row td.g7
{
	border-right:1px solid red;
}
table.fa-factors tr.a td.g4
,table.fa-factors tr.row td.g4
{
	border-right:1px dotted red;
}
table.fa-factors tr.row td.g1
,table.fa-factors tr.row td.g2
,table.fa-factors tr.row td.g3
,table.fa-factors tr.row td.g4
{
	background-color:antiquewhite;
}
 table.fa-factors tr.row td.g8
,table.fa-factors tr.row td.g9
,table.fa-factors tr.row td.r1
,table.fa-factors tr.row td.r2
,table.fa-factors tr.row td.r3
,table.fa-factors tr.row td.r4
,table.fa-factors tr.row td.r5
{
	background-color:honeydew;
}
table.fa-factors tr.row td.g1
,table.fa-factors tr.row td.r1
{
	border-left:1px solid black;
}
table.fa-factors tr.row.first
{
	border-top: 1px solid black;
}
table.fa-factors td.rn
,table.fa-factors td.fv
,table.fa-factors td.av
,table.fa-factors td.ff
,table.fa-factors td.af
,table.fa-factors td.fn
,table.fa-factors td.an
{
	text-align:right;
}
table.fa-factors td.f1
,table.fa-factors td.a1
{
	border-left:1px solid black;
}
table.fa-factors div.bar { height:3px; }
table.fa-factors div.bar.b1 { margin-top:3px; }
table.fa-factors div.bar.r    { background-color:#f2750f; }
table.fa-factors div.bar.kabl { background-color:#5d99e2; }
table.fa-factors div.bar.ktl  { background-color:#a03e3c; }
table.fa-factors div.bar.ktl1 { background-color:#e6979f; }
table.fa-factors div.bar.kob  { background-color:#819e43; }
table.fa-factors div.bar.kob1 { background-color:#d0e3a6; }
</style>
<%
var ряды= obj.ряды;
if (!ряды || null==ряды)
	ряды= [];

var да_последний_ряд_в_году= function(d1,d2)
{
	var year1= d1.substring(6);
	var year2= d2.substring(6);
	return year1!=year2;
};

var bar_inserted= false;
var f_bar= function(pos,value,markers,style,second)
{
	var m= markers[pos];
	var b1= (bar_inserted || !second) ? '' : ' b1';
	if (value>m)
	{
		%><div class="bar <%= style %><%= b1 %>" style="width: 100%;"></div><%
		bar_inserted= true;
	}
	else
	{
		var m_prev= markers[pos-1];
		if (value>m_prev)
		{
			var s= Math.floor((value-m_prev)*100/(m-m_prev));
			%><div class="bar <%= style %><%= b1 %>" style="width: <%= s %>%;"></div><%
			bar_inserted= true;
		}
	}
};

var m_сроки= [0,1,2,3,4,6,9,13,20,28];
var f_срок= function(pos,срок)
{
	f_bar(pos,срок,m_сроки,'r');
};

var m_g= [0,2,4,7,14,27,52,100,193,372];

var f_кабл= function(pos,kabl)
{
	bar_inserted= false;
	f_bar(pos,kabl,m_g,'kabl');
};

var f_ктл= function(pos,v,v1)
{
	bar_inserted= false;
	f_bar(pos,v,m_g,'ktl');
	f_bar(pos,v1,m_g,'ktl1',true);
};

var f_коб= function(pos,v,v1)
{
	bar_inserted= false;
	f_bar(pos,v,m_g,'kob');
	f_bar(pos,v1,m_g,'kob1',true);
};

%>
<table class="fa-factors">
	<% if (0) { %>
	<tr class="markers">
		<td>0</td>

		<td>t</td>

		<td>kn</td>
		<td>kv</td>
		<td>k1</td>

		<td>g1</td>
		<td>g2</td>
		<td>g3</td>
		<td>g4</td>

		<td>rn</td>

		<td>r1</td>
		<td>r2</td>
		<td>r3</td>

		<td>fn</td>
		<td>fv</td>
		<td>ff</td>

		<td>f1</td>
		<td>f2</td>
		<td>f3</td>
		<td>f4</td>
		<td>f5</td>
		<td>f6</td>
		<td>f7</td>
		<td>f8</td>
		<td>f9</td>

		<td>an</td>
		<td>av</td>
		<td>af</td>

		<td>a1</td>
		<td>a2</td>
		<td>a3</td>
		<td>a4</td>
		<td>a5</td>
		<td>a6</td>
		<td>a7</td>
		<td>a8</td>
		<td>a9</td>
	</tr>
	<% } %>
</table>


<!--
<table class="fa-factors">

	<% if (0) { %>
	<tr class="markers">
		<td>0</td>

		<td>t</td>

		<td>kn</td>
		<td>kv</td>
		<td>k1</td>
		
		<td>g1</td>
		<td>g2</td>
		<td>g3</td>
		<td>g4</td>

		<td>rn</td>

		<td>r1</td>
		<td>r2</td>
		<td>r3</td>

		<td>fn</td>
		<td>fv</td>
		<td>ff</td>

		<td>f1</td>
		<td>f2</td>
		<td>f3</td>
		<td>f4</td>
		<td>f5</td>
		<td>f6</td>
		<td>f7</td>
		<td>f8</td>
		<td>f9</td>

		<td>an</td>
		<td>av</td>
		<td>af</td>

		<td>a1</td>
		<td>a2</td>
		<td>a3</td>
		<td>a4</td>
		<td>a5</td>
		<td>a6</td>
		<td>a7</td>
		<td>a8</td>
		<td>a9</td>
	</tr>
	<% } %>

	<tr class="n">
		<% if (0) { %><td class="row-marker">n</td><% } %>

		<td class="t" rowspan="2">Дата</td>

		<td class="s s1" colspan="7" style="text-align:center">- Платёжеспособность (%) +</td>
		<td class="s s2" colspan="10" style="text-align: center"> + Cрок расчётов (месяцев) -</td>
		<td class="s s1" colspan="12" style="text-align: center">Фин. устойчивость (%)</td>
		<td class="s s2" colspan="12" style="text-align: center"> - Эффективность (%) + </td>
	</tr>

	<tr class="a">
		<% if (0) { %><td class="row-marker">a</td><% } %>
		

		<td class="k" colspan="3"></td>

		<td class="g g1">2</td>
		<td class="g g2">20</td>
		<td class="g g3">100</td>
		<td class="g g4">200</td>
		<td class="g g5"></td>

		<td class="rn"></td>

		<td class="r r1">1</td>
		<td class="r r2">6</td>
		<td class="r r3"></td>

		<td class="fn"></td>
		<td class="fv"></td>
		<td class="ff"></td>

		<td class="f1">10</td>
		<td class="f2">20</td>
		<td class="f3">30</td>
		<td class="f4">40</td>
		<td class="f5">50</td>
		<td class="f6">60</td>
		<td class="f7">70</td>
		<td class="f8">80</td>
		<td class="f9">90</td>

		<td class="an"></td>
		<td class="av"></td>
		<td class="af"></td>

		<td class="a1">-60</td>
		<td class="a2">-30</td>
		<td class="a3">-15</td>
		<td class="a4">-5</td>

		<td class="a5">0</td>

		<td class="a6">5</td>
		<td class="a7">15</td>
		<td class="a8">30</td>
		<td class="a9">60</td>
	</tr>

	<%
	
	%>

	<%	for (var i= 0; i < ряды.length; i++)
		{
			var ряд= ряды[i];
			var последний_ряд_в_году= false;
			if (0!=i)
				последний_ряд_в_году= да_последний_ряд_в_году(ряд.дата,ряды[i-1].дата);
	%>

	<tr class="row r1 <%= !последний_ряд_в_году ? '' : 'first' %>">
		<% if (0) { %><td class="row-marker">r1</td><% } %>

		<td class="t" rowspan="4"><%= ряд.дата %><% if (0) { %>31.01.2018<% } %></td>

		<td class="k kn">кабл</td>
		<td class="k kv"><%= ряд.кабл %><% if (0) { %>120<% } %></td>
		<td class="k k1"></td>

		<td class="g g1"><%- f_кабл(1,ряд.кабл) %></td>
		<td class="g g2"><%- f_кабл(2,ряд.кабл) %></td>
		<td class="g g3"><%- f_кабл(3,ряд.кабл) %></td>
		<td class="g g4"><%- f_кабл(4,ряд.кабл) %></td>
		<td class="g g5"><%- f_кабл(5,ряд.кабл) %></td>

		<td class="rn" rowspan="4"><%= ряд.срок %><% if (0) { %>72<% } %></td>

		<td class="r r1" rowspan="4"><%- f_срок(1,ряд.срок) %></td>
		<td class="r r2" rowspan="4"><%- f_срок(2,ряд.срок) %></td>
		<td class="r r3" rowspan="4"><%- f_срок(3,ряд.срок) %></td>
		<td class="r r4" rowspan="4"><%- f_срок(4,ряд.срок) %></td>

		<td class="fn">независ.</td>
		<td class="fv"><%= ряд.независ %><% if (0) { %>100<% } %></td>
		<td class="ff"><%= !ряд.независ1 || null==ряд.независ1 ? '' : '-' + ряд.независ1 %><% if (0) { %>100<% } %></td>

		<td class="f1"></td>
		<td class="f2"></td>
		<td class="f3"></td>
		<td class="f4"></td>
		<td class="f5"></td>
		<td class="f6"></td>
		<td class="f7"></td>
		<td class="f8"></td>
		<td class="f9"></td>

		<td class="a an" rowspan="2">рент.акт.</td>
		<td class="a av" rowspan="2"><%= ряд.рентакт %><% if (0) { %>120<% } %></td>
		<td class="a af" rowspan="2"><%= !ряд.рентакт1 || null==ряд.рентакт1 ? '' : '-' + ряд.рентакт1 %><% if (0) { %>120<% } %></td>

		<td class="a a1" rowspan="2"></td>
		<td class="a a2" rowspan="2"></td>
		<td class="a a3" rowspan="2"></td>
		<td class="a a4" rowspan="2"></td>
		<td class="a a5" rowspan="2"></td>
		<td class="a a6" rowspan="2"></td>
		<td class="a a7" rowspan="2"></td>
		<td class="a a8" rowspan="2"></td>
		<td class="a a9" rowspan="2"></td>
	</tr>

	<tr class="row r2">
		<% if (0) { %><td class="row-marker">r2</td><% } %>

		<td class="k kn" rowspan="2">ктл</td>
		<td class="k kv" rowspan="2"><%= ряд.ктл %><% if (0) { %>120<% } %></td>
		<td class="k kv1" rowspan="2"><%= !ряд.ктл1 ? '' : '-' + ряд.ктл1 %><% if (0) { %>(120)<% } %></td>

		<td class="g g1" rowspan="2"><%- f_ктл(1,ряд.ктл,ряд.ктл1) %></td>
		<td class="g g2" rowspan="2"><%- f_ктл(2,ряд.ктл,ряд.ктл1) %></td>
		<td class="g g3" rowspan="2"><%- f_ктл(3,ряд.ктл,ряд.ктл1) %></td>
		<td class="g g4" rowspan="2"><%- f_ктл(4,ряд.ктл,ряд.ктл1) %></td>

		<td class="fn">обесп.об.</td>
		<td class="fv"><%= ряд.обеспоб %><% if (0) { %>100<% } %></td>
		<td class="ff"><%= !ряд.обеспоб1 || null==ряд.обеспоб1 ? '' : '-' + ряд.обеспоб1 %><% if (0) { %>100<% } %></td>

		<td class="f1"></td>
		<td class="f2"></td>
		<td class="f3"></td>
		<td class="f4"></td>
		<td class="f5"></td>
		<td class="f6"></td>
		<td class="f7"></td>
		<td class="f8"></td>
		<td class="f9"></td>

	</tr>

	<tr class="row r3">
		<% if (0) { %><td class="row-marker">r3</td><% } %>

		<td class="fn">проср.кр.</td>
		<td class="fv"><%= ряд.просркр %><% if (0) { %>100<% } %></td>
		<td class="ff"><%= !ряд.просркр1 || null==ряд.просркр1 ? '' : '-' + ряд.просркр1 %><% if (0) { %>100<% } %></td>

		<td class="f1"></td>
		<td class="f2"></td>
		<td class="f3"></td>
		<td class="f4"></td>
		<td class="f5"></td>
		<td class="f6"></td>
		<td class="f7"></td>
		<td class="f8"></td>
		<td class="f9"></td>

		<td class="a an" rowspan="2">н.ч.приб.</td>
		<td class="a av" rowspan="2"><%= ряд.норчпрб %><% if (0) { %>120<% } %></td>
		<td class="a af" rowspan="2"><%= !ряд.норчпрб1 || null==ряд.норчпрб1 ? '' : '-' + ряд.норчпрб1 %><% if (0) { %>100<% } %></td>

		<td class="a a1" rowspan="2"></td>
		<td class="a a2" rowspan="2"></td>
		<td class="a a3" rowspan="2"></td>
		<td class="a a4" rowspan="2"></td>
		<td class="a a5" rowspan="2"></td>
		<td class="a a6" rowspan="2"></td>
		<td class="a a7" rowspan="2"></td>
		<td class="a a8" rowspan="2"></td>
		<td class="a a9" rowspan="2"></td>
	</tr>

	<tr class="row r4">
		<% if (0) { %><td class="row-marker">r4</td><% } %>

		<td class="k kn">коб</td>
		<td class="k kv"><%= ряд.коб %><% if (0) { %>120<% } %></td>
		<td class="k k1"><%= !ряд.коб1 ? '' : '-' + ряд.коб1 %><% if (0) { %>(120)<% } %></td>

		<td class="g g1"><%- f_коб(1,ряд.коб,ряд.коб1) %></td>
		<td class="g g2"><%- f_коб(2,ряд.коб,ряд.коб1) %></td>
		<td class="g g3"><%- f_коб(3,ряд.коб,ряд.коб1) %></td>
		<td class="g g4"><%- f_коб(4,ряд.коб,ряд.коб1) %></td>
		<td class="g g5"><%- f_коб(5,ряд.коб,ряд.коб1) %></td>
		<td class="g g6"><%- f_коб(6,ряд.коб,ряд.коб1) %></td>
		<td class="g g7"><%- f_коб(7,ряд.коб,ряд.коб1) %></td>
		<td class="g g8"><%- f_коб(8,ряд.коб,ряд.коб1) %></td>
		<td class="g g9"><%- f_коб(9,ряд.коб,ряд.коб1) %></td>

		<td class="fn">деб.в акт.</td>
		<td class="fv"><%= ряд.дебвакт %><% if (0) { %>100<% } %></td>
		<td class="ff"><%= !ряд.дебвакт1 || null==ряд.дебвакт1 ? '' : '-' + ряд.дебвакт1 %><% if (0) { %>100<% } %></td>

		<td class="f1"></td>
		<td class="f2"></td>
		<td class="f3"></td>
		<td class="f4"></td>
		<td class="f5"></td>
		<td class="f6"></td>
		<td class="f7"></td>
		<td class="f8"></td>
		<td class="f9"></td>
	</tr>

	<%	} %>

	<tr class="f">
		<% if (0) { %><td class="row-marker">f</td><% } %>

		<td colspan="47"></td>
	</tr>
</table>
-->
