﻿<style>
table.fa-source
{
	border-collapse:collapse;
	margin: 1mm;
}
table.fa-source td
{
	font-family:"Calibri";
	line-height:99%;
	font-size:9pt;
	margin:0;
	padding-top:0;
	padding-bottom:0;
	padding-left:0.5mm;
	padding-right:0.5mm;
	border:0.01mm solid black;
	height:0.3mm !important;
}
table.fa-source tr.title td
{
	background-color: #eeeeee;
	font-weight:bold;
}
table.fa-source tr.form1-line td.title
{
	padding-left:5mm;
}
table.fa-source tr.form1-razdel td
,table.fa-source td.razdel
,table.fa-source tr.form1-balans td
{
	background-color: #f6f6f6;
}
table.fa-source td.value
{
	text-align:right;
}
</style>
<%
var fix_title= function(line)
{
	switch (line.строка)
	{
	case '1220': return 'НДС по приобретенным ценностям';
	case '1240': return 'Фин. вложения (кроме ден. экв.)';
	case '1310': return 'Уставный капитал';
	case '2510': return 'Рез. переоц. внеоб, не в ч. пр.';
	case '2520': return 'Рез. пр. оп., не в ч. пр.';
	}
	return line.title;
};
var ряды= !obj || !obj.ряды ? [] : obj.ряды;
var form1= obj.form1;
var form2= obj.form2;
var extra_accounts= obj.extra_accounts;
%>
<table class="fa-source" cellpadding="0" cellspacing="0">
	<% if (0) { %>
	<tr class="markers">
		<td>1 a p</td>
		<td>1 title</td>
		<td>2 code</td>
		<td>3 date</td>
	</tr>
	<% } %>

	<tr class="title">
		<td colspan="2">Наименование</td>
		<td>стр.</td>

		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td><%= ряды[ir].дата %><% if (0) { %>31.01.2018<% } %></td>
		<%	} %>
	</tr>


	<%	if (form1) { %>
	<%	for (var i_activ_passiv= 0; i_activ_passiv < form1.состав.length; i_activ_passiv++)
		{
			var activ_passiv= form1.состав[i_activ_passiv];
	%>
		<%	for (var i_razdel= 0; i_razdel < activ_passiv.состав.length; i_razdel++)
			{ 
				var razdel= activ_passiv.состав[i_razdel];
		%>
	<tr class="form1-razdel">
		<% if (0==i_razdel) { %>
		<td rowspan="<%= 0==i_activ_passiv ? 17 : 18 %>" class="razdel"><%= activ_passiv.title %><% if (0) { %>Актив<% } %></td>
		<% } %>
		<td><%= razdel.title %><% if (0) { %>Какой-то раздел<% } %></td>
		<td><%= razdel.строка %><% if (0) { %>10000<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>
				<%	for (var i_line= 0; i_line < razdel.состав.length; i_line++)
					{ 
						var line= razdel.состав[i_line];
				%>
	<tr class="form1-line">
		<% if (0) { %><td></td><% } %>
		<td class="title"><%= fix_title(line) %><% if (0) { %>Какая то строка<% } %></td>
		<td><%= line.строка %><% if (0) { %>10000<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>
				<%	} %>
		<%	} %>
	<% } %>

	<tr class="form1-balans">
		<td colspan="2">Баланс</td>
		<td><%= form1.состав[0].строка %><% if (0) { %>10000<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>

	<%	} %>

	<%	if (form2) { %>

	<% var fin_results= form2.состав[0]; %>
	<%	for (var i_line= 0; i_line < fin_results.состав.length; i_line++)
		{ 
			var line= fin_results.состав[i_line];
	%>
	<tr class="form2-line">
		<% if (0==i_line) { %><td class="razdel" rowspan="<%= 18 %>">Результаты</td><% } %>
		<td class="title"><%= fix_title(line) %><% if (0) { %>Какая то строка<% } %></td>
		<td><%= line.строка %><% if (0) { %>10000<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>
	<%	} %>

	<% var spravochno= form2.состав[1]; %>
	<%	for (var i_line= 0; i_line < spravochno.состав.length; i_line++)
		{ 
			var line= spravochno.состав[i_line];
	%>
	<tr class="form2-line">
		<% if (0==i_line) { %><td class="razdel" rowspan="<%= 5 %>">Справочно</td><% } %>
		<td class="title"><%= fix_title(line) %><% if (0) { %>Какая то строка<% } %></td>
		<td><%= line.строка %><% if (0) { %>10000<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>
	<%	} %>

	<%	} %>

	<%	if (extra_accounts) { %>

	<%	for (var i_line= 0; i_line < extra_accounts.состав.length; i_line++)
		{ 
			var line= extra_accounts.состав[i_line];
	%>
	<tr class="form2-line">
		<% if (0==i_line) { %><td class="razdel" rowspan="<%= 5 %>">Дополнительно</td>
		<% } %>
		<td class="title"><%= fix_title(line) %><% if (0) { %>Какая то строка<% } %></td>
		<td></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="value">237846</td>
		<%	} %>
	</tr>
	<%	} %>

	<%	} %>

</table>
