﻿<style>
table.fa-ind-factors
{
	border-collapse:collapse;
	margin: 1mm;
}
table.fa-ind-factors tr.markers td
,table.fa-ind-factors tr td.row-marker
{
	background-color: yellow;
}
table.fa-ind-factors tr.p td.v1
,table.fa-ind-factors tr.p td.v23
,table.fa-ind-factors tr.n td.v1
,table.fa-ind-factors tr.n td.v23
,table.fa-ind-factors tr.e td.v1
,table.fa-ind-factors tr.e td.v23
{
	border-top:0.02mm dotted gray;
}
table.fa-ind-factors td
{
	font-family:"Times New Roman";
	line-height:99%;
	font-size:3.5mm;
	margin:0;
	padding-top:0;
	padding-bottom:0;
}
table.fa-ind-factors td p
{
	margin:0;
	text-align:center;
	padding-bottom:0.6mm;
	padding-left:0.6mm;
	padding-right:0.6mm;
}
table.fa-ind-factors tr.dates
{
	text-align:center;
}
table.fa-ind-factors tr.i td.v
{
	text-align:right;
	border-left:0.01mm solid black;
	border-bottom:0.01mm solid black;
	padding-right:0.6mm;
	padding-bottom:0.6mm;
}
table.fa-ind-factors tr.i td.t
{
	border-bottom:0.01mm solid black;
	padding-right:0.6mm;
}
table.fa-ind-factors tr.dates td
,table.fa-ind-factors tr.gt td
,table.fa-ind-factors tr.pt td
,table.fa-ind-factors tr.rt td
,table.fa-ind-factors tr.nt td
,table.fa-ind-factors tr.g td.t
,table.fa-ind-factors tr.p0 td.t
{
	border-bottom:0.01mm solid black;
}
table.fa-ind-factors td.v2
,table.fa-ind-factors td.v3
,table.fa-ind-factors td.v23
{
	border-left:0.02mm dotted gray;
}
table.fa-ind-factors tr.g td.v1
,table.fa-ind-factors tr.g td.v2
,table.fa-ind-factors tr.g td.v3
,table.fa-ind-factors tr.r td.v
{
	border-bottom:0.02mm dotted gray;
}
table.fa-ind-factors td.a
{
	text-align:right;
	padding-right:0.6mm;
	vertical-align:top;
}
table.fa-ind-factors tr.dates td.date
{
	border-left:0.01mm solid black;
}
table.fa-ind-factors td.v1
,table.fa-ind-factors tr.r td.v
,table.fa-ind-factors tr.rt td.v
{
	border-left:0.01mm solid black;
}
table.fa-ind-factors tr.rt td.v
{
	text-align:center;
}
</style>
<%
var ряды= !obj || !obj.ряды ? [] : obj.ряды;
var indicators= !obj || !obj.indicators ? [] : obj.indicators;
var s= {
	g:{m: [2,20,100,200,400],bigger_better:true,show_fixes:false}
	,r:{m: [1,6,12],bigger_better:false,show_fixes:true}
	,p:{m: [0,10,100],bigger_better:true,show_fixes:true}
	,n:{m: [0,10,100],bigger_better:false,show_fixes:true}
	,e:{m: [0,10,100],bigger_better:true,show_fixes:true}
};
%>
<table class="fa-ind-factors">
	<% if (0) { %>
	<tr class="markers">
		<td>0</td>

		<td>t</td>
		<td>a</td>

		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td>v1</td>
		<td>v2</td>
		<td>v3</td>
		<%	} %>
	</tr>
	<% } %>

	<tr class="dates">
		<% if (0) { %><td class="row-marker">dates</td>
		<% } %>

		<td class="t" colspan="2"></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { var r= ряды[ir]; %>
		<td class="date" colspan="3"><%= r.дата %><% if (0) { %>01/01/2018<% } %></td>
		<%	} %>
	</tr>

	<% if (indicators) { %>

	<%	for (var i_line= 0; i_line < indicators.length; i_line++)
		{ 
			var indicator= indicators[i_line];
	%>
	<tr class="i">
		<% if (0) { %><td class="row-marker">i</td><% } %>

		<td class="t" colspan="2"><%= indicator.title %><% if (0) { %>Совокупные активы (пассивы)<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { var r= ряды[ir]; %>
		<td class="v" colspan="3">
			<%= r['f' + indicator.строка] %><% if (0) { %>123678<% } %> 
			руб.
		</td>
		<%	} %>
	</tr>
	<%	} %>

	<% } %>

	<%
		var sm= s.g;
		var s0= sm.bigger_better ? '-' : '+';
		var sz= sm.bigger_better ? '+' : '-';
		for (var im= sm.m.length-1; im >= 0; im--)
		{
			var m= sm.m[im];
	%>
	<tr class="g">
		<% if (0) { %><td class="row-marker">g</td><% } %>
		<% if (sm.m.length-1==im) { %>
		<td class="t" rowspan="<%= s.g.m.length + s.r.m.length + 2 %>">Платёжеспособность</td>
		<% } %>
		<td class="a"><%= (im== sm.m.length-1) ? sz : m + ' %' %><% if (0) { %>+<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1"></td>
		<td class="v2"></td>
		<td class="v3"></td>
		<%	} %>
	</tr>
	<%	} %>

	<tr class="gt">
		<% if (0) { %><td class="row-marker">gt</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a">-</td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1">
			&nbsp;кабл:<p>2%</p>
		</td>
		<td class="v2">
			&nbsp;ктл:<p>120%</p>
		</td>
		<td class="v3">
			&nbsp;коб:<p>70%</p>
		</td>
		<%	} %>
	</tr>

	<%	
		var sm= s.r;
		var s0= sm.bigger_better ? '-' : '+';
		var sz= sm.bigger_better ? '+' : '-';
		for (var im= sm.m.length-1; im >= 0; im--)
		{
			var m= sm.m[im];
	%>
	<tr class="r">
		<% if (0) { %><td class="row-marker">r</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a"><%= (im== sm.m.length-1) ? sz : m + ' мес.' %><% if (0) { %>+<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v" colspan="3"></td>
		<%	} %>
	</tr>
	<%	} %>

	<tr class="rt">
		<% if (0) { %><td class="row-marker">rt</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a">+</td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v" colspan="3">оплата 10 мес.</td>
		<%	} %>
	</tr>

	<%
		var sm= s.p;
		var s0= sm.bigger_better ? '-' : '+';
		var sz= sm.bigger_better ? '+' : '-';
		for (var im= sm.m.length-1; im >= 0; im--)
		{
			var m= sm.m[im];
	%>
	<tr class="p<%= (sm.m.length-1)!=im ? '' : '0' %>">
		<% if (0) { %><td class="row-marker">p</td><% } %>

		<% if (sm.m.length-1==im) { %>
		<td class="t" rowspan="<%= s.p.m.length + s.n.m.length + 2 %>">Финансовая устойчивость</td>
		<% } %>
		<td class="a"><%= (im== sm.m.length-1) ? sz : m + ' %' %><% if (0) { %>+<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1"></td>
		<td class="v23" colspan="2"></td>
		<%	} %>
	</tr>
	<%	} %>

	<tr class="pt">
		<% if (0) { %><td class="row-marker">pt</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a">-</td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1">
			&nbsp;независ.
			<p>20%</p>
		</td>
		<td class="v23" colspan="2">
			&nbsp;обесп.об.
			<p>50%</p>
		</td>
		<%	} %>
	</tr>

	<%
		var sm= s.n;
		var s0= sm.bigger_better ? '-' : '+';
		var sz= sm.bigger_better ? '+' : '-';
		for (var im= sm.m.length-1; im >= 0; im--)
		{
			var m= sm.m[im];
	%>
	<tr class="n<%= (sm.m.length-1)!=im ? '' : '0' %>">
		<% if (0) { %><td class="row-marker">n</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a"><%= (im== sm.m.length-1) ? sz : m + ' %' %><% if (0) { %>+<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1"></td>
		<td class="v23" colspan="2"></td>
		<%	} %>
	</tr>
	<%	} %>

	<tr class="nt">
		<% if (0) { %><td class="row-marker">nt</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a">+</td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1">
			&nbsp;деб.в акт.
			<p>10%</p>
		</td>
		<td class="v23" colspan="2">
			&nbsp;проср.кр.
			<p>23%</p>
		</td>
		<%	} %>
	</tr>

	<%
		var sm= s.e;
		var s0= sm.bigger_better ? '-' : '+';
		var sz= sm.bigger_better ? '+' : '-';
		for (var im= sm.m.length-1; im >= 0; im--)
		{
			var m= sm.m[im];
	%>
	<tr class="e<%= (sm.m.length-1)!=im ? '' : '0' %>">
		<% if (0) { %><td class="row-marker">e</td><% } %>

		<% if (sm.m.length-1==im) { %>
		<td class="t" rowspan="<%= s.e.m.length + 1 %>">Эффективность</td>
		<% } %>
		
		<td class="a"><%= (im== sm.m.length-1) ? sz : m + ' %' %><% if (0) { %>+<% } %></td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1"></td>
		<td class="v23" colspan="2"></td>
		<%	} %>
	</tr>
	<%	} %>

	<tr class="et">
		<% if (0) { %><td class="row-marker">et</td><% } %>

		<% if (0) { %><td class="t"></td><% } %>
		<td class="a">-</td>
		<%	for (var ir= 0; ir < ряды.length; ir++) { %>
		<td class="v1">
			&nbsp;рент.акт.
			<p>35%</p>
		</td>
		<td class="v23" colspan="2">
			&nbsp;нор.ч.пр.
			<p>44%</p>
		</td>
		<%	} %>
	</tr>

</table>
