<div>
	<h4>Основное назначение страницы - проверка стандартой связки простых полей с данными.</h4>

	Простое текстовое поле: <input type="text" value="<%= obj.txt('Стандартные_элементы.Текст') %>" />. 

	Выпадающий список: 
	<select <%= obj.select_attrs('Стандартные_элементы.Значение_из_выпадающего_списка') %> >
		<option <%= obj.option_attrs('вариант1') %> >текст для варианта1</option>
		<option <%= obj.option_attrs('вариант2') %> >текст для варианта2</option>
		<option <%= obj.option_attrs('вариант3') %> >текст для варианта3</option>
	</select>.
	<br/>

	Крыжик: <input type="checkbox" <%= obj.checkbox_attrs('Стандартные_элементы.Значение_открыжено') %> />. 

	Выбор варианта: 
	<label>вариант 1 <input type="radio" <%= obj.radio_attrs('Стандартные_элементы.Выбранный_вариант','вариант1') %> /></label>, 
	<label>вариант 2 <input type="radio" <%= obj.radio_attrs('Стандартные_элементы.Выбранный_вариант','вариант2') %> /></label>. 

	Многострочное текстовое поле:
	<textarea <%= obj.textarea_attrs('Стандартные_элементы.Многострочный_текст') %> 
	 ><%= obj.value() %></textarea>
	<br/>

	<div id="cpw-tabs" <%= obj.tabs_attrs() %> >
		<ul>
			<li><a href="#cpw-tab-1" >jquery ui элементы, первая закладка</a></li>
			<li><a href="#cpw-tab-2" >вторая закладка</a></li>
		</ul>
		<div id="cpw-tab-1" >
			содержимое на первой закладке. 
			jquery ui Дата: <input type="text" value="<%= obj.txt('Элементы_jquery_ui.Дата') %>" <%= obj.date_attrs() %> />
		</div>
		<div id="cpw-tab-2" >содержимое на второй закладке</div>
	</div>

</div>