﻿<% if (!obj.preview) { %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Тестовая страница А4 альбомной ориентации</title>
	<xml xmlns:w="urn:schemas-microsoft-com:office:word">
		<w:WordDocument>
			<w:View>Print</w:View>
			<w:Zoom>100</w:Zoom>
			<w:DoNotOptimizeForBrowser/>
		</w:WordDocument>
	</xml>
<% } %>
<style>
	@page WordPageA4
	{
		size:841.9pt 595.3pt;
		mso-page-orientation:landscape;
		margin:42.5pt 2.0cm 3.0cm 2.0cm;
		mso-header-margin:35.4pt;
		mso-footer-margin:35.4pt;
		mso-paper-source:0;
		mso-footer:page-footer;
	}
	.test-14-albom-root div.WordPageA4
	{
		page:WordPageA4;
	}
</style>
<% if (!obj.preview) { %>
</head>
<% } %>
<% if (!obj.preview) { %>
<body class="test-14-albom-root">
<% } else { %>
<div class="test-14-albom-root">
<% } %>

	<div class="WordPageA4">
test-content
	</div>

<% if (obj.preview) { %>
</div>
<% } else { %>
</body>
</html>
<% } %>
